<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="app-name">Logisimply</h1>
    <span class="fill-remaining-space"></span>
    <button i18n mat-button color="accent" (click)="logout()">Logout</button>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a i18n mat-list-item routerLink="/home" color="primary"><mat-icon mat-list-icon>home</mat-icon> Home</a>
        <a i18n mat-list-item routerLink="/dashboard" color="primary">Dashboard</a>
        <a i18n mat-list-item routerLink="/contacts" color="primary"><mat-icon mat-list-icon>group</mat-icon> Contacts</a>
        <mat-divider></mat-divider>
       <!-- <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title i18n><mat-icon>group</mat-icon> Contacts</mat-panel-title>
            </mat-expansion-panel-header>
            <a mat-list-item routerLink="/contacts">
              Customers
            </a>
          </mat-expansion-panel>
        </mat-accordion>-->
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="main-content-container">
        <app-alert></app-alert>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


