<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title i18n>Contacts</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="https://iz.zohostatic.com/sites/default/files/contactmanager-home-screen.png" alt="Photo of contacts">
  <mat-card-content>
    <p i18n>
      Hello! This is our future contacts component.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button i18n mat-button>LIKE</button>
    <button  i18n mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
