<form [formGroup]="itemForm" (submit)="saveData()">
  <div class="dialog-title" mat-dialog-title>
    <div>
      {{ 'itemsDialog.'+this.itemForm.controls['type'].value | translate }}
      <mat-hint align="end" class="close-button">
        <mat-icon (click)="onCloseClick()" color="warn">clear</mat-icon>
      </mat-hint>
      <mat-hint *ngIf="data && data.reference" align="start">{{data.reference}}</mat-hint>
    </div>
    <mat-slide-toggle *ngIf="data" [labelPosition]="editLablePosition" (change)="editSliderChange($event)">{{
      'contactsDialog.edit_mode' | translate }}
    </mat-slide-toggle>
  </div>
  <div mat-dialog-content [formGroup]="itemForm">
    <mat-form-field class="third">
      <mat-select placeholder="{{ 'itemsDialog.type' | translate }}" #typeSelect formControlName="type"
                  (change)="onSelectChange(typeSelect.value)" required cdkFocusInitial>
        <mat-option *ngFor="let item of types" [value]="item.value">
          {{ item.name | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br/>
    <mat-form-field class="half-width">
      <input matInput placeholder="{{ 'itemsDialog.label' | translate }}" formControlName="label" required>
    </mat-form-field>
    <mat-form-field class="half-width">
      <input matInput #siretHint placeholder="{{ 'itemsDialog.priceET' | translate }}" formControlName="priceET"
             required>
    </mat-form-field>
    <mat-form-field class="full-width">
      <textarea matInput placeholder="{{ 'itemsDialog.description' | translate }}" formControlName="description"
                required></textarea>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit" [disabled]="!saveButton">
      <mat-icon>save</mat-icon>
    </button>
  </div>
</form>






