<form [formGroup]="providerForm" (submit)="saveData()">
  <div class="dialog-title" mat-dialog-title>
    <div>
      {{ 'contactsDialog.customer' | translate }}
      <mat-hint align="end" class="close-button">
        <mat-icon (click)="onCloseClick()" color="warn">clear</mat-icon>
      </mat-hint>
      <mat-hint *ngIf="data && data.code" align="start">{{data.code}}</mat-hint>
    </div>
    <mat-slide-toggle *ngIf="data" [labelPosition]="editLablePosition" (change)="editSliderChange($event)">{{
      'contactsDialog.edit_mode' | translate }}
    </mat-slide-toggle>
  </div>
  <div mat-dialog-content>
    <mat-form-field class="full-width">
      <input matInput placeholder="{{ 'contactsDialog.companyName' | translate }}" formControlName="companyName" required>
    </mat-form-field>
    <mat-form-field class="half-width">
      <input matInput placeholder="{{ 'contactsDialog.legalForm' | translate }}" formControlName="legalForm" required>
    </mat-form-field>
    <mat-form-field class="half-width">
      <input matInput #siretHint placeholder="{{ 'contactsDialog.siret' | translate }}" formControlName="siret" required>
      <mat-hint align="end">{{siretHint.value.length}} / 14</mat-hint>
    </mat-form-field>
    <mat-form-field class="half-width">
      <input matInput placeholder="{{ 'contactsDialog.email_placeholder' | translate }}" formControlName="email"  required>
    </mat-form-field>
    <mat-form-field class="half-width">
      <input matInput placeholder="{{ 'contactsDialog.phone' | translate }}" formControlName="phone">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="{{ 'contactsDialog.address' | translate }}" formControlName="address" required>
    </mat-form-field>
    <mat-form-field class="third">
      <input matInput placeholder="{{ 'contactsDialog.town' | translate }}" formControlName="town" required>
    </mat-form-field>
    <mat-form-field class="third">
      <input matInput placeholder="{{ 'contactsDialog.country' | translate }}" formControlName="country" required>
    </mat-form-field>
    <mat-form-field class="third">
      <input matInput #postalCode placeholder="{{ 'contactsDialog.zipcode' | translate }}" formControlName="zipCode"
             required>
      <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
    </mat-form-field>
    <br/>
    <mat-form-field class="full-width">
      <input matInput placeholder="{{ 'contactsDialog.website' | translate }}" formControlName="website">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit" [disabled]="!saveButton">
      <mat-icon>save</mat-icon>
    </button>
  </div>
</form>






