h1{
  font-size: 8em;
  text-align: center;
  color: #FFFFFF;
  padding-top: 2%;
  margin: 0;
}

h2{
  font-size: 1.7em;
  color: #FFFFFF;
  padding-top: 2%;
}

.material-icons {
  font-size: 1.5em;
}

div.error{
  background-color: #B9121B;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  width:100%;
  text-align:center;
}

a.err {
  text-decoration: none;
  color: #B9121B;
  font-weight: bold;
}

div.success{
  background-color: #84D41D;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  width:100%;
  text-align:center;
}

a.succ {
  text-decoration: none;
  color: #84D41D;
  font-weight: bold;
}
