<div class="loading-shade" *ngIf="isLoadingResults">
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>

<div class="error" *ngIf="!isLoadingResults && !isUserValid">
  <h1><i class="material-icons">error</i></h1>
  <h2>{{ errorMessage }}</h2>
  <button type="button" mat-raised-button>
    <a class="err" href="/welcome">Retour à l'accueil</a>
  </button>
</div>

<div class="success" *ngIf="isUserValid">
  <h1><i class="material-icons">check_circle</i></h1>
  <h2>Félicitations {{ data.firstname }}, votre compte a bien été activé !</h2>
  <button type="button" mat-raised-button>
    <a class="succ" href="/welcome">Retour à l'accueil</a>
  </button>
</div>
