<div class="loading-shade" *ngIf="isLoadingResults">
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>

<div class="error" *ngIf="!isLoadingResults && !isUserValid">
  <h1><i class="material-icons">error</i></h1>
  <h2>{{ errorMessage }}</h2>
  <button type="button" mat-raised-button>
    <a class="err" href="/welcome">{{ 'activate.back' | translate }}</a>
  </button>
</div>

<div class="success" *ngIf="isUserValid">
  <h1><i class="material-icons">check_circle</i></h1>
  <h2>{{ 'activate.congrats' | translate }} {{ data.firstname }}, {{ 'activate.activation' | translate }}</h2>
  <button type="button" mat-raised-button>
    <a class="succ" href="/welcome">{{ 'activate.back' | translate }}</a>
  </button>
</div>
