<form [formGroup]="customerForm" (submit)="saveData()">
  <div class="dialog-title" mat-dialog-title>
    <div>
      {{ 'contactsDialog.customer' | translate }}
      <mat-hint align="end" class="close-button">
        <mat-icon (click)="onCloseClick()" color="warn">clear</mat-icon>
      </mat-hint>
      <mat-hint *ngIf="data && data.code" align="start">{{data.code}}</mat-hint>
    </div>
    <mat-slide-toggle *ngIf="data" [labelPosition]="editLablePosition" (change)="editSliderChange($event)">{{
      'contactsDialog.edit_mode' | translate }}
    </mat-slide-toggle>
  </div>
  <div mat-dialog-content>
    <mat-form-field class="third">
      <mat-select placeholder="{{ 'contactsDialog.type' | translate }}" #typeSelect formControlName="type"
                  (change)="onSelectChange(typeSelect.value)" required cdkFocusInitial>
        <mat-option *ngFor="let item of types" [value]="item.value">
          {{ item.name | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="customerForm.controls['type'].value === 'private'">
      <mat-form-field class="third">
        <input matInput placeholder="{{ 'contactsDialog.civility' | translate }}" formControlName="civility">
      </mat-form-field>
      <mat-form-field class="third">
        <input matInput placeholder="{{ 'contactsDialog.lastname' | translate }}" formControlName="lastname" required>
      </mat-form-field>
      <mat-form-field class="third">
        <input matInput placeholder="{{ 'contactsDialog.firstname' | translate }}" formControlName="firstname">
      </mat-form-field>
    </div>
    <div *ngIf="customerForm.controls['type'].value === 'professional'">
      <mat-form-field class="full-width">
        <input matInput placeholder="{{ 'contactsDialog.name' | translate }}" formControlName="name" required>
      </mat-form-field>
      <br>
      <mat-form-field class="half-width">
        <input matInput placeholder="{{ 'contactsDialog.legalForm' | translate }}" formControlName="legalForm">
      </mat-form-field>
      <mat-form-field class="half-width">
        <input matInput #siretHint placeholder="{{ 'contactsDialog.siret' | translate }}" formControlName="siret">
        <mat-hint align="end">{{siretHint.value.length}} / 14</mat-hint>
      </mat-form-field>
    </div>
    <mat-form-field class="half-width">
      <input matInput placeholder="{{ 'contactsDialog.email_placeholder' | translate }}" formControlName="email"
             required>
    </mat-form-field>
    <mat-form-field class="half-width">
      <input matInput placeholder="{{ 'contactsDialog.phone' | translate }}" formControlName="phone">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="{{ 'contactsDialog.address' | translate }}" formControlName="address" required>
    </mat-form-field>
    <mat-form-field class="third">
      <input matInput placeholder="{{ 'contactsDialog.town' | translate }}" formControlName="town" required>
    </mat-form-field>
    <mat-form-field class="third">
      <input matInput placeholder="{{ 'contactsDialog.country' | translate }}" formControlName="country" required>
    </mat-form-field>
    <mat-form-field class="third">
      <input matInput #postalCode placeholder="{{ 'contactsDialog.zipcode' | translate }}" formControlName="zipCode" required>
      <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="{{ 'contactsDialog.comment' | translate }}" formControlName="comment">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit" [disabled]="!saveButton">
      <mat-icon>save</mat-icon>
    </button>
  </div>
</form>






