#company-infos > ::ng-deep figure,
#person-infos > ::ng-deep figure {
  justify-content: flex-start !important;
  display: block !important;
}

#company-infos div,
#person-infos div {
  margin: 4px;
}

#paypal-allowed {
  display: inline-block;
  vertical-align: middle;
}

#paypal-allowed .mat-icon:not(:first-child) {
  margin-left: 5px;
}

/*.card {*/
  /*display: inline-block;*/
/*}*/

.card-mobile {
  max-width: 100%;
  height: 410px;
}

.card-desktop {
  width: 100%;
  height: 500px;
}

.card-desktop-device{
  display: inline-flex;
  max-width: 43%;
  height: 700px;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 49%;
}

.third-width {
  width: 32%;
}

.align-card{
  display: inline-flex;
  min-width: 43%;
  height: 700px;
}

.align-card-mobile{
  display: block;
  min-width: 43%;
  height: 700px;
}
