<div id="grpd-container">
  <h1>Que faisons-nous de vos données ?</h1>
  <h2>Charte « Protection des données personnelles » des utilisateurs LogiSimply</h2>

  <div class="article">
    <h2>1 - Quelques notions </h2>
    <p class="justify">
      Les données à caractère personnel permettent d’identifier directement (nom, prénom) ou indirectement (numéro de sécurité social ou regroupement d’informations,…) des personnes physiques. <br />
      Un fichier : est un ensemble structuré de données personnelles quel que soit le support « papier » et/ou « numérique ».<br />
      Un traitement est toute opération ou ensemble d’opérations portant sur des données à caractère personnel, quel que soit le procédé utilisé (collecte, enregistrement, conservation, suppression, transformation,...).<br />
      Le Responsable de traitement est défini comme celui qui détermine les finalités et les moyens de mise en oeuvre du traitement.
    </p>
  </div>

  <div class="article">
    <h2>2 - Quel est l’objectif de la charte des données à caractère personnel LogiSimply ? </h2>
    <p class="justify">
      L’objectif de cette charte est de vous informer sur les modalités de collecte de vos données à caractère personnel, dans le strict respect de vos droits.<br />
      L’exploitation de vos données à caractère personnel se fait conformément à la loi n°78-17 du 6 janvier 1978 modifiée relative à l’informatique, aux fichiers et aux libertés.
    </p>
  </div>

  <div class="article">
    <h2>3 - Pourquoi les données à caractère personnel vous concernant sont-elles collectées par LogiSimply ?</h2>
    <p class="justify">
      Vos données personnelles sont collectées pour les finalités suivantes :<br /><br />

      Créer un compte sur LogiSimply.<br />
      Créer et télécharger des devis et des factures grâce à LogiSimply.
    </p>
  </div>

  <div class="article">
    <h2>4 - Quelles sont les données à caractère personnel vous concernant collectées pour le site POP & CO ?</h2>
    <p class="justify">
      Les données à caractère personnel renseignées par l’utilisateur et utilisées sont :<br />

      Nom<br />
      Prénom<br />
      Adresse email<br />
      SIRET<br />
      Mot de passe<br />
      Nom de l’entreprise<br />
      Activité de l’entreprise<br />
      Type d’activité de l’entreprise<br />
      Date du début de l’activité<br />
      Adresse physique de l’entreprise<br />
      Code postal
    </p>
  </div>

  <div class="article">
    <h2>5 - Qui est le Responsable de traitement du site LogiSimply ?</h2>
    <p class="justify">
      Le Responsable de traitement, en charge de la collecte et de l’exploitation de vos données à caractère personnel, est la société LogiSimply, 8 rue des Bouleaux, 75011 PARIS.
    </p>
  </div>

  <div class="article">
    <h2>6 - Comment faire valoir et exercer vos droits ?</h2>
    <p class="justify">
      L’utilisateur dispose d’un droit d'accès, de modification, de rectification et de suppression aux données à caractère personnel qui le concernent par courrier postal : LogiSimply - Conformité - 8 rue des Bouleaux 75011 PARIS ou par courriel : contact.logisimply@gmail.com.
    </p>
  </div>

  <div class="article">
    <h2>7 - Mise à jour de la charte :</h2>
    <p class="justify">
      Nous nous réservons le droit de modifier la présente charte à tout moment soit en raison d’une évolution réglementaire (entrée en vigueur du Règlement 2016/679) ou une évolution des usages liée au site LogiSimply. Aussi, nous vous invitons à consulter régulièrement cette charte pour une meilleure connaissance et compréhension de l’utilisation de vos données à caractère personnel.
    </p>
  </div>
</div>
