<mat-tab-group>
  <div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <mat-tab label="Customers">
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyCustomerFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
    <div class="example-container mat-elevation-z8">
      <mat-table [dataSource]="customerDataSource" matSort>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="emailAddress">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.emailAddress}}% </mat-cell>
        </ng-container>
        <ng-container matColumnDef="town">
          <mat-header-cell *matHeaderCellDef mat-sort-header> City </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.town}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="zipCode">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Postal code </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.zipCode}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedCustomerColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedCustomerColumns;">
        </mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </mat-tab>
  <mat-tab label="Providers">
    <h1>Some more tab content</h1>
    <p>...</p>
  </mat-tab>
</mat-tab-group>

