.example-container {
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

.filter-header {
  min-height: 64px;
  padding: 8px 24px 0;
  display: flex;
}

.mat-column-select {
  overflow: visible;
  max-width: 40px;
}

.mat-column-info {
  overflow: visible;
  max-width: 70px;
}

.myrow {
  display: inline-flex;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.table-mobile {
  overflow: auto;
  max-height: 50vh;
}

.table-desktop {
  overflow: auto;
  max-height: 60vh;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
