.full-width {
  width: 100%;
}

.half-width {
  width: 49%;
}

.third {
  width: 32%;
}


.close-button{
  float: right;
}


.draft {
  color: #46e7ff;
}
.sent {
  color: #08ff0f;
}

.lock {
  color: #ff051a;
}

.payed {
  color: #ffd106;
}
