.full-width {
  width: 100%;
}

.half-width {
  width: 49%;
}

.third {
  width: 32%;
}

.close-button{
  float: right;
}


.button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
