<form [formGroup]="credentialsForm" (submit)="saveData()">
  <div class="dialog-title" mat-dialog-title>
    <div>
      {{ 'credentialsDialog.title' | translate }}
      <mat-hint align="end" class="close-button">
        <button mat-icon-button (click)="onCloseClick()"><mat-icon color="warn">clear</mat-icon></button>
      </mat-hint>
    </div>
  </div>
  <div mat-dialog-content>
    <mat-form-field class="full-width">
      <input matInput placeholder="{{ 'credentialsDialog.client' | translate }}" formControlName="client" required />
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput  placeholder="{{ 'credentialsDialog.secret' | translate }}" formControlName="secret" required />
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit"><mat-icon>save</mat-icon></button>
  </div>
</form>
