/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  /* HEADER */
  #header-image {
    margin: 0;
    background-image: url("/assets/images/background.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  #access-webapp {
    margin-left: 45%;
    margin-top: 5%;
  }

  #header-image h1 {
    margin: 0;
    padding-top: 20%;
    color: #FFFFFF;
    font-size: 4em;
  }

  #header-image p {
    color: #FFFFFF;
  }

  .center {
    text-align: center;
  }

  .shadow {
    text-shadow: 1px 1px #000000;
  }

  /* ICONS PRESENTATION */
  #presentation-activity {
    margin: 0;
    height: 50vh;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: #212121;
  }

  #presentation-header {
    padding-left: 20%;
  }

  .icons-presentation {
    display: inline-block;
    max-width: 250px;
    margin: 50px;
    margin-top: 5%;
  }

  /* PRESENTATION */
  #presentation {
    margin: 0;
    height: 60vh;
    background-color: #eff2fa;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: #212121;
  }

  #team-header {
    padding-left: 20%;
    padding-top: 1px;
  }

  #card-component {
    width: 100%;
    margin: auto;
  }

  #card-component img {
    max-width: 180px;
  }

  .card-type {
    min-height: 296px;
    max-width: 250px;
    display: inline-block;
    margin-top: 8%;
    margin-left: 2%;
  }

  /* FOOTER */
  footer {
    background-color: #31acfc;
  }

  footer a {
    color: #FFFFFF;
  }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  /* HEADER */
  #header-image {
    margin: 0;
    background-image: url("/assets/images/background.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  #access-webapp {
    margin-left: 45%;
    margin-top: 5%;
  }

  #header-image h1 {
    margin: 0;
    padding-top: 20%;
    color: #FFFFFF;
    font-size: 3em;
  }

  #header-image p {
    color: #FFFFFF;
  }

  .center {
    text-align: center;
  }

  .shadow {
    text-shadow: 1px 1px #000000;
  }

  /* PRESENTATION */
  #presentation {
    margin: 0;
    height: 100vh;
    background-color: #fafafa;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: #212121;
  }

  #presentation-header {
    padding-left: 20%;
  }

  #presentation-card {
    width: 100%;
    margin: auto;
  }

  .card-type {
    max-width: 250px;
    display: inline-block;
    margin-top: 8%;
    margin-left: 2%;
    margin-right: 2%;
  }

  /* FOOTER */
  footer {
    margin-top: 10%;
    background-color: #31acfc;
  }

  footer a {
    color: #FFFFFF;
  }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  /* HEADER */
  #header-image {
    margin: 0;
    background-image: url("/assets/images/background.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  #access-webapp {
     margin-left: 41%;
     margin-top: 5%;
   }

  #header-image h1 {
    margin: 0;
    padding-top: 20%;
    color: #FFFFFF;
    font-size: 3em;
  }

  #header-image p {
    color: #FFFFFF;
  }

  .center {
    text-align: center;
  }

  .shadow {
    text-shadow: 1px 1px #000000;
  }

  /* PRESENTATION */
  #presentation {
    margin: 0;
    height: 100vh;
    background-color: #fafafa;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: #212121;
  }

  #presentation-header {
    padding-left: 20%;
  }

  #presentation-card {
    width: 100%;
    margin: auto;
  }

  .card-type {
    max-width: 250px;
    display: inline-block;
    margin-top: 8%;
    margin-left: 1%;
  }

  /* FOOTER */
  footer {
    margin-top: 10%;
    background-color: #31acfc;
  }

  footer a {
    color: #FFFFFF;
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* HEADER */
  #header-image {
    margin: 0;
    background-image: url("/assets/images/background.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  #access-webapp {
    margin-left: 41%;
    margin-top: 5%;
  }

  #header-image h1 {
    margin: 0;
    padding-top: 20%;
    color: #FFFFFF;
    font-size: 3em;
  }

  #header-image p {
    color: #FFFFFF;
  }

  .center {
    text-align: center;
  }

  .shadow {
    text-shadow: 1px 1px #000000;
  }

  /* PRESENTATION */
  #presentation {
    margin: 0;
    height: 100vh;
    background-color: #fafafa;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: #212121;
  }

  #presentation-header {
    padding-left: 20%;
  }

  #presentation-card {
    width: 100%;
    margin: auto;
  }

  .card-type {
    max-width: 250px;
    display: inline-block;
    margin-top: 8%;
    margin-left: 1%;
  }

  /* FOOTER */
  footer {
    margin-top: 10%;
    background-color: #31acfc;
  }

  footer a {
    color: #FFFFFF;
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  /* HEADER */
  #header-image {
    margin: 0;
    background-image: url("/assets/images/background.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  #access-webapp {
    margin-left: 38%;
    margin-top: 5%;
  }

  #header-image h1 {
    margin: 0;
    padding-top: 20%;
    color: #FFFFFF;
    font-size: 3em;
  }

  #header-image p {
    color: #FFFFFF;
  }

  .center {
    text-align: center;
  }

  .shadow {
    text-shadow: 1px 1px #000000;
  }

  /* PRESENTATION */
  #presentation {
    margin: 0;
    height: 100vh;
    background-color: #fafafa;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: #212121;
  }

  #presentation-header {
    padding-left: 20%;
  }

  #presentation-card {
    width: 100%;
    margin: auto;
  }

  .card-type {
    max-width: 250px;
    display: inline-block;
    margin-top: 8%;
    margin-left: 2%;
    margin-right: 2%;
  }

  /* FOOTER */
  footer {
    margin-top: 10%;
    background-color: #31acfc;
  }

  footer a {
    color: #FFFFFF;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  /* HEADER */
  #header-image {
    margin: 0;
    background-image: url("/assets/images/background.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  #access-webapp {
    margin-left: 30%;
    margin-top: 5%;
  }

  #header-image h1 {
    margin: 0;
    padding-top: 20%;
    color: #FFFFFF;
    font-size: 3em;
  }

  #header-image p {
    color: #FFFFFF;
  }

  .center {
    text-align: center;
  }

  .shadow {
    text-shadow: 1px 1px #000000;
  }

  /* PRESENTATION */
  #presentation {
    margin: 0;
    min-height: 150vh;
    background-color: #fafafa;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: #212121;
  }

  #presentation-header {
    padding-left: 20%;
  }

  #presentation-card {
    width: 100%;
    margin: auto;
  }

  .card-type {
    max-width: 250px;
    display: inline-block;
    margin-top: 8%;
    margin-left: 2%;
    margin-right: 2%;
  }

  /* FOOTER */
  footer {
    margin-top: 10%;
    background-color: #31acfc;
  }

  footer a {
    color: #FFFFFF;
  }
}

@media (min-width: 320px) and (max-width: 413px) {
  /* HEADER */
  #header-image {
    margin: 0;
    background-image: url("/assets/images/background.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  #access-webapp {
    margin-left: 22%;
    margin-top: 5%;
  }

  #header-image h1 {
    margin: 0;
    padding-top: 20%;
    color: #FFFFFF;
    font-size: 3em;
  }

  #header-image p {
    color: #FFFFFF;
  }

  .center {
    text-align: center;
  }

  .shadow {
    text-shadow: 1px 1px #000000;
  }

  /* PRESENTATION */
  #presentation {
    margin: 0;
    min-height: 150vh;
    background-color: #fafafa;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: #212121;
  }

  #presentation-header {
    padding-left: 20%;
  }

  #presentation-card {
    width: 100%;
    margin: auto;
  }

  .card-type {
    max-width: 250px;
    display: inline-block;
    margin-top: 8%;
    margin-left: 2%;
    margin-right: 2%;
  }

  /* FOOTER */
  footer {
    margin-top: 10%;
    background-color: #31acfc;
  }

  footer a {
    color: #FFFFFF;
  }
}
